{% if action == 'loadscrollposts' %}
{% for temp_posts in load_remain_posts %}
        <div class ="message_box" id="{{temp_posts.id}}">
             <div>{{temp_posts.username}}</div>
             <span>{{temp_posts.title}}</span>
             <span class='postdatestyles'>{{temp_posts.publish_date}}</span>
             <div>===========================</div>
        </div>

 {% endfor %}
 {% endif %}

{% if action == 'searchfriendsnames' %}
{% if matched_friends.count > 0 %}
        {% for User in matched_friends %}
        {% csrf_token %}
            <li onclick="profile('{{User.email}}')"><a  href="/theweber.in/profile/{{User.username}}/">{{ User.username}}</a></li>
        {% endfor %}

{% else %}
        <li>None to show</li>

{% endif %}

{% endif %}


{% if action == 'new_post_posted' %}
        <div>{{up.username}}</div>
            <div class='message_box' id="{{up.id}}">
                <span>{{up.title}}</span>
                <span class='postdatestyles'>{{up.publish_date}}</span>
            </div>
            <div>===========================</div>


{% endif %}
{% if action == 'ok' %}
        <div>{{e}}</div>
{% endif %}
{% endif %}

