{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        .postdatestyles{
            position: relative;
            left: 20%;
            }
    </style>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Userpage</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="{% static 'packaged/css/semantic.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'packaged/javascript/semantic.js' %}"></script>
  <script src="{% static 'js/homepage.js' %}"></script>



</head>


<body id="home">

<div class="ui red vertical demo sidebar menu">
  <a class="item">
         <div class="ui inverted circular segment">
  <h2 class="ui inverted header" id="profilepic">
    pic
    <div class="sub header">vamsikiran </div>
  </h2>
</div>

</a>
 
  
      <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="active item">
     
    Profile
  </a>
  <a class="item">
    <i class="Match"></i>
    Match me
  </a>
  <a class="item">
    <i class="Friends"></i>
    Friends
  </a>

  <a class="item">
    <i class="settings"></i>
    Settings
  </a>
  <div class="item">
    <b>More</b>
    <div class="menu">
      <a class="item">About</a>
      <a class="item">Contact Us</a>
    </div>
  </div>
</div>

<script>$('.demo.sidebar')
  .sidebar('toggle')
;</script>

<div class="ui secondary  menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
  <a class="item">
    <i class="user icon"></i> Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Match Me..." id="search">
            <ul id="search-results"></ul>
      </div>
    </div>
    <a class="ui item"  href="/theweber.in/logout">
      Logout
    </a>
  </div>
</div>


<div class="ui inverted divider"></div>
    

    <main class="ui three column grid">
  <aside class="column">
      <div>
    <form class="ui form" action="" method="POST" name="postupdateform" id="postupdateform">
        {% csrf_token %}
        <input type="text" placeholder="Post Your Status" name="post_text" id="post_text">
        <div>
            <select id="permission_type" name="permission_type">
                <option id="public" name="public" value="1">public</option>
                <option id="private" name="private" value="2">private</option>
                <option id="Friends" name="Friends" value="3">Friends</option>
            </select>
        </div>
        <div class="ui field"><input type="submit" value="submit" class="ui positive button" name="postsubmit" id="postsubmit"/></div>
    </form>
      </div>

<div class="ui vertically divided grid"></div>

<div class="ui primary inverted red segment">
  <p>Hey There Good Morning</p>
  <div class="actions">
        <a class="reply">Reply</a>
        <a class="delete">Delete</a>
      </div>
</div>
      
    <div class="ui minimal comments" id="userpostdiv">
      {% for user_post in userposts%}

        <div>{{user_post.username}}</div>
        <div class="message_box" id='{{user_post.id}}'>
            <span>{{ user_post.title}}</span>
            <span class="postdatestyles">{{user_post.publish_date}}</span>
            <div>========================================</div>
        </div>
      {% endfor %}

    </div>






  </aside>


  <section class="column">Notifications

<div class="ui divided list">
  <div class="item">
    <div class="right floated tiny teal ui button">VIEW</div>
    <img class="ui avatar image" src="/images/demo/avatar2.jpg">
    <div class="content">
      <div class="header">Foot ball   at </div>
    </div>
  </div>
  <div class="item">
    <div class="right floated tiny teal ui button">VIEW</div>
    <img class="ui avatar image" src="/images/demo/avatar3.jpg">
    <div class="content">
      <div class="header">Swimming day celebrations</div>
    </div>
  </div>


 <div class="item">
    <div class="right floated tiny teal ui button">VIEW</div>
    <img class="ui avatar image" src="/images/demo/avatar2.jpg">
    <div class="content">
      <div class="header">cooking  at </div>
    </div>
  </div>

   <div class="item">
    <div class="right floated tiny teal ui button">VIEW</div>
    <img class="ui avatar image" src="/images/demo/avatar2.jpg">
    <div class="content">
      <div class="header">movies at  at </div>
    </div>
  </div>

   <div class="item">
    <div class="right floated tiny teal ui button">VIEW</div>
    <img class="ui avatar image" src="/images/demo/avatar2.jpg">
    <div class="content">
      <div class="header">run 20k @ </div>
    </div>
  </div>

   <div class="item">
    <div class="right floated tiny teal ui button">VIEW</div>
    <img class="ui avatar image" src="/images/demo/avatar2.jpg">
    <div class="content">
      <div class="header">Foot ball matches at </div>
    </div>
  </div>
  </div>
  </section>
  <section class="column">Left Space</section>

  
</main>




   
</body>

</html>
