<html>
<head>
    <title>theweber.in</title>
    <style>
        .status_post{
            position: absolute;
            left: 37%;
            top: 3%;
        }
     </style>
</head>
<body>
<div id="status_post" class="status_post">
    <form method="POST" action="" enctype="multipart/form-data">
        <textarea class="status_post" id="status_post_textarea" name="status_post_textarea"></textarea>
        <br/>
        <div id="permissions" class="permissions">
        <select id="access_permissions" name="access_permissions">
            <option id="public" name="public" value="public">public</option>
            <option id="private" name="private" value="private">private</option>
            <option id= name="friends" value="friends">friends</option>
        </select>
        <input type="submit" value="update">
        </div>
   </form>
</div>
welcome to weber your name is: {{ username }}
<a href="/theweber.in/logout">Logout</a>
</body>
</html>
